<!DOCTYPE html>
<html lang="en" ng-app="RunningHeroes">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-type" value="text/html; charset=utf-8">
		<title>Running Heroes</title>

		<!-- build:js /lib/librairies.min.js -->
		<script src="/lib/jquery-1.10.2.min.js" type="text/javascript"></script>
		<script src="/lib/angular/angular.1.2.18.min.js" type="text/javascript"></script>
		<!-- endbuild -->

		<link rel="shortcut icon" href="http://d13iccluy1t0t3.cloudfront.net/img/favicon.ico">