<% include head %>
</head>

	<body ng-controller="IndexCtrl">
		<form method="POST" action="/">
			<input type="email" placeholder="email" />
			<input type="submit" />
		</form>
		<% include js %>
	</body>
</html>
