<!DOCTYPE html>
<html lang="en" ng-app="RunningHeroes" xmlns:fb="http://ogp.me/ns/fb#">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-type" value="text/html; charset=utf-8">
		<title>Running Heroes</title>
		<meta name="viewport" content="minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="title" content="Running Heroes">
		<meta name="description" content="Vous courez. Soyez récompensé. Running Heroes récompense les coureurs en leur faisant bénéficier de bons de réduction">
		<meta name="author" content="Running Heroes">
		<!-- <link rel="canonical" href="http://runningheroes.com" /> -->

		<meta property="fb:app_id" content="622251541147086" />
		<meta property="og:image" content="https://s3-eu-west-1.amazonaws.com/running-heroes/img/300x300.png"/>
		<meta property="og:site_name" content="Running Heroes"/>
		<meta property="og:title" content="Running Heroes"/>
		<meta property="og:url" content="http://runningheroes.com"/>
		<meta property="og:description" content="Vous courez. Soyez récompensé. Running Heroes récompense les coureurs en leur faisant bénéficier de bons de réduction"/>

		<!-- build:js /lib/librairies.min.js -->
		<script src="/lib/jquery-1.10.2.min.js" type="text/javascript"></script>
		<script src="/lib/angular/angular.1.2.18.min.js" type="text/javascript"></script>
		<script src="/lib/angular/angular-ui-bootstrap-tpls.0.9.0.min.js" type="text/javascript"></script>
		<script src="/lib/angular/angular-cookies.min.js" type="text/javascript"></script>
		<script src="/lib/angular/angular-sanitize.min.js" type="text/javascript"></script>
		<script src="/lib/slick/slick.min.js" type="text/javascript"></script>
		<!-- endbuild -->

		<!-- build:css /css/librairies.min.css -->
		<link href="/css/bootstrap.min.css" rel="stylesheet" />
		<link href="/css/font-awesome.min.css" rel="stylesheet" />
		<link href="/lib/slick/slick.css" rel="stylesheet" />
		<!-- endbuild -->

		<link href="/css/template.css" rel="stylesheet">

		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

		<link rel="shortcut icon" href="http://d13iccluy1t0t3.cloudfront.net/img/favicon.ico">

		<!--[if gte IE 9]>
			<style type="text/css">
				.gradient {
					filter: none;
				}
			</style>
		<![endif]-->